// solid color
$color-black: #000000;
$color-white: #FFFFFF;
$color-shade: #EDEDED;
$color-dark-shade: #D1D1D1;
$color-android-primary: #686868;

// theme colors
$color-primary: #3949AB;
$color-secondary: #3F51B5;
$color-accent: #F44336;