.chai-bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    @include box-shadow("top");
    transition: all .3s linear;
    visibility: hidden;
    max-height: 90%;
    overflow-y: auto;
}

.chai-bottom-sheet .chai-bottom-sheet-element {
    position: relative;
    display: block;
    font-size: 16px;
    height: 52px;
    line-height: 52px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    padding: 0 0 0 16px;
    color: $color-android-primary;
    background-color: $color-white;
    cursor: pointer;

    & .material-icons {
        margin-right: 26px;
        position: relative;
        top: 6px;
    }
}