.chai-list {
    background-color: transparent;
    line-height: normal;
    text-align: left;
    display: block;
}
.chai-list .chai-list-header {
    padding: 20px 16px 16px 16px;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    margin: -1px 0 0 0;
}
.chai-list-item {
    position: relative;
    padding: 0 0 0 16px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 0 -1px 0;
    color: #1f1f21;
    font-weight: 400;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    height: auto;
}
.chai-list-item:last-child {
    border-bottom: none;
}
.chai-list-item, .chai-list-header {
    display: block;
    position: relative;
}