.chai-tabbar {
    display: table;
    table-layout: fixed;
    width: 100%;
    background-color: $color-secondary;
    position: relative;
    bottom: 0;
    left: 0;

    & .chai-tab {
        cursor: pointer;
        display: table-cell;
        text-transform: uppercase;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        transform: translate3d(0, 0, 0);
        position: relative;
        box-sizing: border-box;
        font-size: 10px;
        padding: 6px 0 10px 0;
        // ellipsis
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba($color-white, 0.6);
    }

    & .material-icons {
        display: block;
    }
}

.chai-tabbar[data-position="top"] .tab-active {
    border-bottom: 2px solid #FFF;
    color: #FFF;
}
.chai-tabbar[data-position="bottom"] .tab-active {
    border-top: 2px solid #FFF;
    color: #FFF;
}

.chai-tabbar[data-position="bottom"] {
    @include box-shadow("top");
}

.chai-tabbar[data-position="top"] {
    @include box-shadow("bottom");
}

.chai-tab-body {
    width: 100%;
    display: none;
}