.chai-toast, .chai-toast-legacy {
    position: fixed;
    bottom: 20px;
    padding: 0 24px;
    background-color: #333333;
    color: $color-white;
    border-radius: 2px;
    max-width: 90%;
    width: 340px;
    left: 50%;
    min-height: 48px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    @include box-shadow("bottom");
    display: flex;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    visibility: hidden;
    z-index: 9999;
}
.chai-toast .chai-button[data-type="flat"] {
    margin: 0 0 0 20px;
    padding: 0;
    min-width: 60px;
    float: right;

    &:active {
        background-color: transparent;
    }
}
.chai-toast .text, .chai-toast-legacy .text {
    display: inline-block;
    float: left;
    flex-grow: 1;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: inherit;
    padding: 14px 0;
}
.chai-toast-legacy .text {
    padding: 0;
}
.chai-toast-legacy {
    padding: 14px 24px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    bottom: 50px;
    max-width: auto;
    width: auto;
    min-height: auto;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
}