// ======================================
//  Base Styles
// ======================================

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  @include unselectable;
}
body {
  background-color: $color-white;
  overflow: hidden;
}

.chai-bottom-sheet-overlay, .chai-dialog-alert-overlay, .chai-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
    width: 100%;
    z-index: 99;
}
span {
  display: inline-block;
} 